# Week 1 - Data handling

The Python modules `pandas` and `numpy` are useful libraries to handle datasets and apply basic operations on them. 

Some of the things recapped in week 0 using native Python (e.g. accessing, working with and writing data files, and performing operations on them) can be easily achieved using `pandas` instead. `pandas` offers data structures and operations for manipulating different types of datasets - see [documentation](https://pandas.pydata.org/).

We will only cover `pandas` today, however feel free to explore `numpy` in parallel at your own pace e.g. following [this tutorial](https://numpy.org/devdocs/user/quickstart.html) and combining it with continuing to learn `pandas`.


### Aims

- Gain familiarity to handle datasets using `pandas`
    - Create, read and write data
    - Select a subset of variables (columns)
    - Filter rows based on their values
    - Sort datasets
    - Create new columns or modify existing ones
    - Summarise and collapse values in one or more columns to a single summary value
    - Handle missing data
    - Merge datasets


### Installing pandas

The module `pandas` does not come by default as part of the default Python or Jupyter installations. In order to install it in your system, launch the Command prompt just like we saw in week 0 and run the following command: `pip install pandas --user`. Once the command finishes execution, `pandas` will be installed in your system

**Note 1:** if you have any issues installing `pandas`, please get in touch with one of the trainers after the lecture

**Note 2:** you can try the same to install the `numpy` module using the same approach


### Loading pandas

Once installed, you can import it e.g. using the alias `pd` as follows:

In [1]:
import pandas as pd

### Reading datasets with `pandas`

We are going to use the METABRIC dataset `metabric_clinical_and_expression_data.csv` containing information about breast cancer patients as highlighted in the recap materials from week 0.

Pandas allows importing data from various file formats such as csv, xls, json, sql ... 

To read a csv file, use the method `.read_csv()`:

In [2]:
metabric = pd.read_csv("../data/metabric_clinical_and_expression_data.csv")

In [3]:
metabric

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Integrative_cluster,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,4ER+,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,4ER+,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,3,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,9,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,9,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,MB-7295,4,43.10,196.866667,LIVING,Living,NO,YES,25.0,NaN,...,3,4.0,9.591235,9.935179,7.984515,6.753291,6.279207,9.207323,11.281194,11.337601
1900,MB-7296,4,42.88,44.733333,DECEASED,Died of Disease,NO,YES,20.0,NaN,...,5,6.0,9.733986,13.753037,5.616082,6.271912,5.999093,9.530390,11.532033,11.626140
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,NaN,...,1,4.0,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360
1902,MB-7298,4,61.16,86.233333,DECEASED,Died of Other Causes,NO,NO,25.0,NaN,...,1,15.0,11.055114,9.892589,8.282737,6.466712,6.287254,10.365901,11.371176,12.827069
1903,MB-7299,4,60.02,201.900000,DECEASED,Died of Other Causes,NO,YES,20.0,NaN,...,10,3.0,10.696475,10.227787,5.533486,6.180511,6.208784,9.749368,10.867527,9.847856

In [4]:
print(metabric)

     Patient_ID  Cohort  Age_at_diagnosis  Survival_time Survival_status  \
0       MB-0000       1             75.65     140.500000          LIVING
1       MB-0002       1             43.19      84.633333          LIVING
2       MB-0005       1             48.87     163.700000        DECEASED
3       MB-0006       1             47.68     164.933333          LIVING
4       MB-0008       1             76.97      41.366667        DECEASED
...         ...     ...               ...            ...             ...
1899    MB-7295       4             43.10     196.866667          LIVING
1900    MB-7296       4             42.88      44.733333        DECEASED
1901    MB-7297       4             62.90     175.966667        DECEASED
1902    MB-7298       4             61.16      86.233333        DECEASED
1903    MB-7299       4             60.02     201.900000        DECEASED

              Vital_status Chemotherapy Radiotherapy  Tumour_size  \
0                   Living           NO          YES         22.0
1                   Living           NO          YES         10.0
2          Died of Disease          YES           NO         15.0
3                   Living          YES          YES         25.0
4          Died of Disease          YES          YES         40.0
...                    ...          ...          ...          ...
1899                Living           NO          YES         25.0
1900       Died of Disease           NO          YES         20.0
1901       Died of Disease           NO          YES         25.0
1902  Died of Other Causes           NO           NO         25.0
1903  Died of Other Causes           NO          YES         20.0

      Tumour_stage  ...  Integrative_cluster  Mutation_count       ESR1  \
0              2.0  ...                 4ER+             NaN   8.929817
1              1.0  ...                 4ER+             2.0  10.047059
2              2.0  ...                    3             2.0  10.041281
3              2.0  ...                    9             1.0  10.404685
4              2.0  ...                    9             2.0  11.276581
...            ...  ...                  ...             ...        ...
1899           NaN  ...                    3             4.0   9.591235
1900           NaN  ...                    5             6.0   9.733986
1901           NaN  ...                    1             4.0  11.053198
1902           NaN  ...                    1            15.0  11.055114
1903           NaN  ...                   10             3.0  10.696475

          ERBB2       PGR      TP53    PIK3CA      GATA3      FOXA1       MLPH
0      9.333972  5.680501  6.338739  5.704157   6.932146   7.953794   9.729728
1      9.729606  7.505424  6.192507  5.757727  11.251197  11.843989  12.536570
2      9.725825  7.376123  6.404516  6.751566   9.289758  11.698169  10.306115
3     10.334979  6.815637  6.869241  7.219187   8.667723  11.863379  10.472181
4      9.956267  7.331223  6.337951  5.817818   9.719781  11.625006  12.161961
...         ...       ...       ...       ...        ...        ...        ...
1899   9.935179  7.984515  6.753291  6.279207   9.207323  11.281194  11.337601
1900  13.753037  5.616082  6.271912  5.999093   9.530390  11.532033  11.626140
1901  10.228570  7.478069  6.212256  6.192399   9.540589  11.482761  11.180360
1902   9.892589  8.282737  6.466712  6.287254  10.365901  11.371176  12.827069
1903  10.227787  5.533486  6.180511  6.208784   9.749368  10.867527   9.847856

[1904 rows x 32 columns]

If you forget to include `../data/` above, or if you include it but your copy of the file is saved somewhere else, you will get an error that ends with a line like this: `FileNotFoundError: File b'metabric_clinical_and_expression_data.csv' does not exist`

Generally, rows in a `DataFrame` are the **observations** (patients in the case of METABRIC) whereas columns are known as the observed **variables** (Cohort, Age_at_diagnosis ...). 

Looking at the column on the far left, you can see the row names of the DataFrame `metabric` assigned using the known 0-based indexing used in Python.

Note that the `.read_csv()` method is not limited to reading csv files. For example, you can also read Tab Separated Value (TSV) files by adding the argument `sep='\t'`.


### Exploring data

The pandas DataFrame object borrows features from the well-known R's `data.frame` or SQL's `table`. They are 2-dimensional tables whose columns can contain different data types (e.g. boolean, integer, float, categorical/factor). Both the rows and columns are indexed, and can be referred to by number or name.

An index in a DataFrame refers to the position of an element in the data structure. Using the `.info()` method, we can view basic information about our DataFrame object:

In [5]:
metabric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Patient_ID                     1904 non-null   object
 1   Cohort                         1904 non-null   int64
 2   Age_at_diagnosis               1904 non-null   float64
 3   Survival_time                  1904 non-null   float64
 4   Survival_status                1904 non-null   object
 5   Vital_status                   1903 non-null   object
 6   Chemotherapy                   1904 non-null   object
 7   Radiotherapy                   1904 non-null   object
 8   Tumour_size                    1884 non-null   float64
 9   Tumour_stage                   1403 non-null   float64
 10  Neoplasm_histologic_grade      1832 non-null   float64
 11  Lymph_nodes_examined_positive  1904 non-null   int64
 12  Lymph_node_status              1904 non-null   int64
 13  Cancer_type                    1889 non-null   object
 14  ER_status                      1904 non-null   object
 15  PR_status                      1904 non-null   object
 16  HER2_status                    1904 non-null   object
 17  HER2_status_measured_by_SNP6   1904 non-null   object
 18  PAM50                          1904 non-null   object
 19  3-gene_classifier              1700 non-null   object
 20  Nottingham_prognostic_index    1904 non-null   float64
 21  Cellularity                    1850 non-null   object
 22  Integrative_cluster            1904 non-null   object
 23  Mutation_count                 1859 non-null   float64
 24  ESR1                           1904 non-null   float64
 25  ERBB2                          1904 non-null   float64
 26  PGR                            1904 non-null   float64
 27  TP53                           1904 non-null   float64
 28  PIK3CA                         1904 non-null   float64
 29  GATA3                          1904 non-null   float64
 30  FOXA1                          1904 non-null   float64
 31  MLPH                           1904 non-null   float64
dtypes: float64(15), int64(3), object(14)
memory usage: 476.1+ KB

As expected, our object is a `DataFrame` (or, to use the full name that Python uses to refer to it internally, a `pandas.core.frame.DataFrame`).

In [6]:
type(metabric)

pandas.core.frame.DataFrame

It has 1904 rows (the patients) and 32 columns. The columns consist of integer, floats and strings (object). It uses almost 500 KB of memory.

As mentioned, a DataFrame is a Python object or data structure, which means it can have **Attributes** and **Methods**.

**Attributes** contain information about the object. You can access them to learn more about the contents of your DataFrame. To do this, use the object variable name `metabric` followed by the attribute name, separated by a `.`. Do not use any () to access attributes.

For example, the types of data contained in the columns are stored in the `.dtypes` attribute:

In [7]:
metabric.dtypes

Patient_ID                        object
Cohort                             int64
Age_at_diagnosis                 float64
Survival_time                    float64
Survival_status                   object
Vital_status                      object
Chemotherapy                      object
Radiotherapy                      object
Tumour_size                      float64
Tumour_stage                     float64
Neoplasm_histologic_grade        float64
Lymph_nodes_examined_positive      int64
Lymph_node_status                  int64
Cancer_type                       object
ER_status                         object
PR_status                         object
HER2_status                       object
HER2_status_measured_by_SNP6      object
PAM50                             object
3-gene_classifier                 object
Nottingham_prognostic_index      float64
Cellularity                       object
Integrative_cluster               object
Mutation_count                   float64
ESR1                             float64
ERBB2                            float64
PGR                              float64
TP53                             float64
PIK3CA                           float64
GATA3                            float64
FOXA1                            float64
MLPH                             float64
dtype: object

You can access the dimensions of your DataFrame using the `.shape` attribute. The first value is the number of rows, and the second the number of columns:

In [8]:
metabric.shape

(1904, 32)

The row and column names can be accessed using the attributes `.index` and `.columns` respectively:

In [9]:
metabric.index

RangeIndex(start=0, stop=1904, step=1)

In [10]:
metabric.columns

Index(['Patient_ID', 'Cohort', 'Age_at_diagnosis', 'Survival_time',
       'Survival_status', 'Vital_status', 'Chemotherapy', 'Radiotherapy',
       'Tumour_size', 'Tumour_stage', 'Neoplasm_histologic_grade',
       'Lymph_nodes_examined_positive', 'Lymph_node_status', 'Cancer_type',
       'ER_status', 'PR_status', 'HER2_status', 'HER2_status_measured_by_SNP6',
       'PAM50', '3-gene_classifier', 'Nottingham_prognostic_index',
       'Cellularity', 'Integrative_cluster', 'Mutation_count', 'ESR1', 'ERBB2',
       'PGR', 'TP53', 'PIK3CA', 'GATA3', 'FOXA1', 'MLPH'],
      dtype='object')

If you'd like to transpose `metabric` use the attribute `T`:

In [11]:
metabric.T

,0,1,2,3,4,5,6,7,8,9,...,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903
Patient_ID,MB-0000,MB-0002,MB-0005,MB-0006,MB-0008,MB-0010,MB-0014,MB-0022,MB-0028,MB-0035,...,MB-7289,MB-7291,MB-7292,MB-7293,MB-7294,MB-7295,MB-7296,MB-7297,MB-7298,MB-7299
Cohort,1,1,1,1,1,1,1,1,1,1,...,4,4,4,4,4,4,4,4,4,4
Age_at_diagnosis,75.65,43.19,48.87,47.68,76.97,78.77,56.45,89.08,86.41,84.22,...,51.87,53.87,52.9,56.9,59.2,43.1,42.88,62.9,61.16,60.02
Survival_time,140.5,84.633333,163.7,164.933333,41.366667,7.8,164.333333,99.533333,36.566667,36.266667,...,126.666667,6.833333,78.466667,199.233333,82.733333,196.866667,44.733333,175.966667,86.233333,201.9
Survival_status,LIVING,LIVING,DECEASED,LIVING,DECEASED,DECEASED,LIVING,DECEASED,DECEASED,DECEASED,...,DECEASED,DECEASED,DECEASED,LIVING,DECEASED,LIVING,DECEASED,DECEASED,DECEASED,DECEASED
Vital_status,Living,Living,Died of Disease,Living,Died of Disease,Died of Disease,Living,Died of Other Causes,Died of Other Causes,Died of Disease,...,Died of Disease,Died of Disease,Died of Disease,Living,Died of Disease,Living,Died of Disease,Died of Disease,Died of Other Causes,Died of Other Causes
Chemotherapy,NO,NO,YES,YES,YES,NO,YES,NO,NO,NO,...,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
Radiotherapy,YES,YES,NO,YES,YES,YES,YES,YES,YES,NO,...,NO,NO,YES,NO,NO,YES,YES,YES,NO,YES
Tumour_size,22.0,10.0,15.0,25.0,40.0,31.0,10.0,29.0,16.0,28.0,...,65.0,50.0,15.0,45.0,15.0,25.0,20.0,25.0,25.0,20.0
Tumour_stage,2.0,1.0,2.0,2.0,2.0,4.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Neoplasm_histologic_grade,3.0,3.0,2.0,2.0,3.0,3.0,2.0,2.0,3.0,2.0,...,2.0,3.0,2.0,3.0,2.0,3.0,3.0,3.0,2.0,3.0
Lymph_nodes_examined_positive,10,0,1,3,8,0,1,1,1,0,...,5,22,1,1,1,1,1,45,12,1
Lymph_node_status,3,1,2,2,3,1,2,2,2,1,...,3,3,2,2,2,2,2,3,3,2
Cancer_type,Breast Invasive Ductal Carcinoma,Breast Invasive Ductal Carcinoma,Breast Invasive Ductal Carcinoma,Breast Mixed Ductal and Lobular Carcinoma,Breast Mixed Ductal and Lobular Carcinoma,Breast Invasive Ductal Carcinoma,Breast Invasive Ductal Carcinoma,Breast Mixed Ductal and Lobular Carcinoma,Breast Invasive Ductal Carcinoma,Breast Invasive Lobular Carcinoma,...,Breast Invasive Ductal Carcinoma,Breast Invasive Ductal Carcinoma,Breast Invasive Ductal Carcinoma,Breast Invasive Ductal Carcinoma,Breast Invasive Ductal Carcinoma,Breast Invasive Lobular Carcinoma,Breast Invasive Ductal Carcinoma,Breast Invasive Ductal Carcinoma,Breast Invasive Ductal Carcinoma,Breast Invasive Ductal Carcinoma
ER_status,Positive,Positive,Positive,Positive,Positive,Positive,Positive,Positive,Positive,Positive,...,Positive,Negative,Positive,Positive,Positive,Positive,Positive,Positive,Positive,Positive
PR_status,Negative,Positive,Positive,Positive,Positive,Positive,Positive,Negative,Negative,Negative,...,Positive,Negative,Positive,Positive,Positive,Positive,Negative,Positive,Positive,Negative
HER2_status,Negative,Negative,Negative,Negative,Negative,Negative,Negative,Negative,Negative,Negative,...,Negative,Positive,Negative,Negative,Negative,Negative,Positive,Negative,Negative,Negative
HER2_status_measured_by_SNP6,NEUTRAL,NEUTRAL,NEUTRAL,NEUTRAL,NEUTRAL,NEUTRAL,LOSS,NEUTRAL,GAIN,LOSS,...,GAIN,GAIN,GAIN,NEUTRAL,GAIN,NEUTRAL,GAIN,NEUTRAL,NEUTRAL,NEUTRAL
PAM50,claudin-low,LumA,LumB,LumB,LumB,LumB,LumB,claudin-low,LumB,Her2,...,Normal,claudin-low,LumB,LumA,LumB,LumA,LumB,LumB,LumB,LumB
3-gene_classifier,ER-/HER2-,ER+/HER2- High Prolif,NaN,NaN,ER+/HER2- High Prolif,ER+/HER2- High Prolif,NaN,NaN,ER+/HER2- High Prolif,ER+/HER2- High Prolif,...,ER+/HER2- Low Prolif,HER2+,ER+/HER2- High Prolif,ER+/HER2- Low Prolif,ER+/HER2- High Prolif,ER+/HER2- Low Prolif,NaN,NaN,ER+/HER2- High Prolif,ER+/HER2- High Prolif
Nottingham_prognostic_index,6.044,4.02,4.03,4.05,6.08,4.062,4.02,4.058,5.032,3.056,...,5.13,6.1,4.03,5.09,4.03,5.05,5.04,6.05,5.05,5.04
Cellularity,NaN,High,High,Moderate,High,Moderate,Moderate,Moderate,Moderate,High,...,Moderate,High,High,High,High,High,High,High,Moderate,High
Integrative_cluster,4ER+,4ER+,3,9,9,7,3,3,9,3,...,4ER+,1,6,3,1,3,5,1,1,10
Mutation_count,NaN,2.0,2.0,1.0,2.0,4.0,4.0,1.0,4.0,5.0,...,5.0,4.0,3.0,5.0,2.0,4.0,6.0,4.0,15.0,3.0
ESR1,8.929817,10.047059,10.041281,10.404685,11.276581,11.23975,10.793832,10.440667,12.521038,7.536847,...,8.690467,6.096158,9.565225,10.879891,11.290976,9.591235,9.733986,11.053198,11.055114,10.696475
ERBB2,9.333972,9.729606,9.725825,10.334979,9.956267,9.739996,9.276507,8.613192,10.678267,11.514514,...,9.979783,12.600238,10.215534,10.219154,10.846545,9.935179,13.753037,10.22857,9.892589,10.227787
PGR,5.680501,7.505424,7.376123,6.815637,7.331223,5.954311,7.720952,5.592522,5.325554,5.587666,...,6.673764,5.260572,6.946029,6.431113,7.312247,7.984515,5.616082,7.478069,8.282737,5.533486
TP53,6.338739,6.192507,6.404516,6.869241,6.337951,5.419711,5.992706,6.16542,6.220372,6.411477,...,6.297197,6.351516,6.230146,5.791022,5.660943,6.753291,6.271912,6.212256,6.466712,6.180511
PIK3CA,5.704157,5.757727,6.751566,7.219187,5.817818,6.123056,7.481835,7.59333,6.250678,5.988243,...,6.10581,5.829438,5.930059,6.000993,6.19,6.279207,5.999093,6.192399,6.287254,6.208784
GATA3,6.932146,11.251197,9.289758,8.667723,9.719781,9.787085,8.365527,7.872962,10.260059,10.21261,...,8.69195,8.116684,8.844543,9.551231,9.424235,9.207323,9.53039,9.540589,10.365901,9.749368
FOXA1,7.953794,11.843989,11.698169,11.863379,11.625006,12.142178,11.482627,10.679403,12.148375,12.804542,...,10.691575,10.298983,10.949128,11.302246,11.075688,11.281194,11.532033,11.482761,11.371176,10.867527
MLPH,9.729728,12.53657,10.306115,10.472181,12.161961,11.433164,10.755199,9.945023,10.936002,13.474571,...,11.349036,10.747426,10.711007,11.301274,11.567166,11.337601,11.62614,11.18036,12.827069,9.847856

**Methods** are functions that are associated with a DataFrame. Because they are functions, you do use () to call them, and can have arguments added inside the parentheses to control their behaviour. For example, the `.info()` command we executed previously was a method.

The `.head()` method prints the first few rows of the table, while the `.tail()` method prints the last few rows:

In [12]:
metabric.head()

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Integrative_cluster,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,4ER+,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,4ER+,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,3,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,9,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,9,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961

In [13]:
metabric.head(3)

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Integrative_cluster,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,4ER+,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,4ER+,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,3,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115

In [14]:
metabric.tail()

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Integrative_cluster,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
1899,MB-7295,4,43.10,196.866667,LIVING,Living,NO,YES,25.0,NaN,...,3,4.0,9.591235,9.935179,7.984515,6.753291,6.279207,9.207323,11.281194,11.337601
1900,MB-7296,4,42.88,44.733333,DECEASED,Died of Disease,NO,YES,20.0,NaN,...,5,6.0,9.733986,13.753037,5.616082,6.271912,5.999093,9.530390,11.532033,11.626140
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,NaN,...,1,4.0,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360
1902,MB-7298,4,61.16,86.233333,DECEASED,Died of Other Causes,NO,NO,25.0,NaN,...,1,15.0,11.055114,9.892589,8.282737,6.466712,6.287254,10.365901,11.371176,12.827069
1903,MB-7299,4,60.02,201.900000,DECEASED,Died of Other Causes,NO,YES,20.0,NaN,...,10,3.0,10.696475,10.227787,5.533486,6.180511,6.208784,9.749368,10.867527,9.847856

The `.describe()` method computes summary statistics for the columns (including the count, mean, median, and std):

In [15]:
metabric.describe()

,Cohort,Age_at_diagnosis,Survival_time,Tumour_size,Tumour_stage,Neoplasm_histologic_grade,Lymph_nodes_examined_positive,Lymph_node_status,Nottingham_prognostic_index,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
count,1904.000000,1904.000000,1904.000000,1884.000000,1403.000000,1832.000000,1904.000000,1904.000000,1904.000000,1859.000000,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000
mean,2.643908,61.087054,125.121324,26.238726,1.750535,2.415939,2.002101,1.639706,4.033019,5.697687,9.607824,10.765364,6.237203,6.197967,5.970097,9.502910,10.800526,11.362384
std,1.228615,12.978711,76.334148,15.160976,0.628999,0.650612,4.079993,0.743809,1.144492,4.058778,2.133827,1.357359,1.020871,0.401864,0.352549,1.502636,1.754282,1.687555
min,1.000000,21.930000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,5.217238,6.372949,4.860645,5.201128,5.158697,5.277722,5.184945,5.323652
25%,1.000000,51.375000,60.825000,17.000000,1.000000,2.000000,0.000000,1.000000,3.046000,3.000000,8.092992,9.969681,5.408728,5.930335,5.735007,8.767954,10.829777,11.042871
50%,3.000000,61.770000,115.616667,23.000000,2.000000,3.000000,0.000000,1.000000,4.042000,5.000000,10.252166,10.530301,5.877591,6.185873,5.938094,9.911805,11.367947,11.873967
75%,3.000000,70.592500,184.716667,30.000000,2.000000,3.000000,2.000000,2.000000,5.040250,7.000000,11.268331,11.159306,6.899220,6.456987,6.148720,10.560220,11.779545,12.396317
max,5.000000,96.290000,355.200000,182.000000,4.000000,3.000000,45.000000,3.000000,6.360000,80.000000,13.265184,14.643900,9.932115,7.921411,8.708396,12.812082,13.127682,14.432001

In general you can find which **Attributes** and **Methods** are available for your DataFrame using the function `dir()`:

In [16]:
dir(metabric)

['Age_at_diagnosis',
 'Cancer_type',
 'Cellularity',
 'Chemotherapy',
 'Cohort',
 'ERBB2',
 'ER_status',
 'ESR1',
 'FOXA1',
 'GATA3',
 'HER2_status',
 'HER2_status_measured_by_SNP6',
 'Integrative_cluster',
 'Lymph_node_status',
 'Lymph_nodes_examined_positive',
 'MLPH',
 'Mutation_count',
 'Neoplasm_histologic_grade',
 'Nottingham_prognostic_index',
 'PAM50',
 'PGR',
 'PIK3CA',
 'PR_status',
 'Patient_ID',
 'Radiotherapy',
 'Survival_status',
 'Survival_time',
 'T',
 'TP53',
 'Tumour_size',
 'Tumour_stage',
 'Vital_status',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

We often want to calculate summary statistics grouped by subsets or attributes within fields of our data. For example, we might want to calculate the average survival time for patients with an advanced tumour stage.

There are two ways to access columns in a DataFrame. The first is using the name of the DataFrame `metabric` followed by a `.` and then followed by the name of the column. The second is using square brackets:

In [19]:
metabric.Survival_time

0       140.500000
1        84.633333
2       163.700000
3       164.933333
4        41.366667
           ...
1899    196.866667
1900     44.733333
1901    175.966667
1902     86.233333
1903    201.900000
Name: Survival_time, Length: 1904, dtype: float64

In [20]:
metabric['Survival_time']

0       140.500000
1        84.633333
2       163.700000
3       164.933333
4        41.366667
           ...
1899    196.866667
1900     44.733333
1901    175.966667
1902     86.233333
1903    201.900000
Name: Survival_time, Length: 1904, dtype: float64

We can also compute metrics on specific columns or on the entire DataFrame:

In [21]:
metabric['Survival_time'].mean()

125.12132352924738

In [22]:
metabric['Survival_time'].std()

76.33414828620853

In [23]:
metabric.mean()

/tmp/ipykernel_60881/1522133364.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  metabric.mean()

Cohort                             2.643908
Age_at_diagnosis                  61.087054
Survival_time                    125.121324
Tumour_size                       26.238726
Tumour_stage                       1.750535
Neoplasm_histologic_grade          2.415939
Lymph_nodes_examined_positive      2.002101
Lymph_node_status                  1.639706
Nottingham_prognostic_index        4.033019
Mutation_count                     5.697687
ESR1                               9.607824
ERBB2                             10.765364
PGR                                6.237203
TP53                               6.197967
PIK3CA                             5.970097
GATA3                              9.502910
FOXA1                             10.800526
MLPH                              11.362384
dtype: float64

### Selecting columns and rows

The [pandas cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) can be very helpful for recalling basic pandas operations.

To select rows and columns in a DataFrame, we use square brackets `[ ]`. There are two ways to do this: with **positional** indexing, which uses index numbers, and **label-based** indexing which uses column or row names.

To select the first three rows using their numeric index:

In [ ]:
metabric[:3]

The colon `:` defines a range as we saw with slicing lists in week 1.

To select one column using its name:

In [33]:
metabric['Mutation_count']

0        NaN
1        2.0
2        2.0
3        1.0
4        2.0
        ...
1899     4.0
1900     6.0
1901     4.0
1902    15.0
1903     3.0
Name: Mutation_count, Length: 1904, dtype: float64

!!! And we can combine the two like this:

In [40]:
metabric[:6]['Mutation_count']

0    NaN
1    2.0
2    2.0
3    1.0
4    2.0
5    4.0
Name: Mutation_count, dtype: float64

However the following does not work:

In [ ]:
metabric[:3,'Mutation_count']

To do **positional** indexing for both rows and columns, use `.iloc[]`. The first argument is the numeric index of the rows, and the second the numeric index of the columns:

In [41]:
metabric.iloc[:3,2]

0    75.65
1    43.19
2    48.87
Name: Age_at_diagnosis, dtype: float64

For **label-based** indexing, use `.loc[]` with the column and row names:

In [42]:
metabric.loc[:3,"Age_at_diagnosis"]

0    75.65
1    43.19
2    48.87
3    47.68
Name: Age_at_diagnosis, dtype: float64

**Note**: because the rows have numeric indices in this DataFrame, we may think that selecting rows with `.iloc[]` and `.loc[]` is same. As observed above, this is not the case.

If you'd like to select more than one column:

In [45]:
metabric.loc[:3, ['Cohort', 'Chemotherapy']]

   Cohort Chemotherapy
0       1           NO
1       1           NO
2       1          YES
3       1          YES

In [47]:
metabric.loc[:3, 'Cohort':'Chemotherapy']

,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy
0,1,75.65,140.500000,LIVING,Living,NO
1,1,43.19,84.633333,LIVING,Living,NO
2,1,48.87,163.700000,DECEASED,Died of Disease,YES
3,1,47.68,164.933333,LIVING,Living,YES

In [111]:
# metabric.loc[:5, 'Survival_time']
# metabric.loc[:5, ['Cohort','Survival_status']]
# metabric.loc[:5, 'Cohort':'Survival_status']
# metabric.iloc[:5, 2]
# metabric.iloc[:5, [0,3]]
# metabric.iloc[:5, 0:3]
# metabric[:5].Survival_status
# metabric[:5]['Survival_status']
# metabric[:5][['Cohort','Survival_status']]

### Filtering rows

You can choose rows from a DataFrame that match some specified criteria. The criteria are based on values of variables and can make use of comparison operators such as `==`, `>`, `<` and `!=`.

For example, to filter `metabric` so that it only contains observations for those patients who died of breast cancer:

In [113]:
metabric[metabric.Vital_status=="Died of Disease"].head()

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Integrative_cluster,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,3,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,9,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961
5,MB-0010,1,78.77,7.800000,DECEASED,Died of Disease,NO,YES,31.0,4.0,...,7,4.0,11.239750,9.739996,5.954311,5.419711,6.123056,9.787085,12.142178,11.433164
9,MB-0035,1,84.22,36.266667,DECEASED,Died of Disease,NO,NO,28.0,2.0,...,3,5.0,7.536847,11.514514,5.587666,6.411477,5.988243,10.212610,12.804542,13.474571
10,MB-0036,1,85.49,132.033333,DECEASED,Died of Disease,NO,YES,22.0,4.0,...,3,1.0,10.927313,10.033753,7.002502,5.943520,5.650386,10.845709,11.991655,12.466928

To filter based on more than one condition, you can use the operators `&` (and), `|` (or).

In [119]:
metabric.Vital_status.value_counts()
metabric[(metabric.Vital_status=="Died of Disease") | (metabric.Age_at_diagnosis>70)]

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Integrative_cluster,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,4ER+,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,3,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,9,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961
5,MB-0010,1,78.77,7.800000,DECEASED,Died of Disease,NO,YES,31.0,4.0,...,7,4.0,11.239750,9.739996,5.954311,5.419711,6.123056,9.787085,12.142178,11.433164
7,MB-0022,1,89.08,99.533333,DECEASED,Died of Other Causes,NO,YES,29.0,2.0,...,3,1.0,10.440667,8.613192,5.592522,6.165420,7.593330,7.872962,10.679403,9.945023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,MB-7291,4,53.87,6.833333,DECEASED,Died of Disease,NO,NO,50.0,NaN,...,1,4.0,6.096158,12.600238,5.260572,6.351516,5.829438,8.116684,10.298983,10.747426
1896,MB-7292,4,52.90,78.466667,DECEASED,Died of Disease,NO,YES,15.0,NaN,...,6,3.0,9.565225,10.215534,6.946029,6.230146,5.930059,8.844543,10.949128,10.711007
1898,MB-7294,4,59.20,82.733333,DECEASED,Died of Disease,NO,NO,15.0,NaN,...,1,2.0,11.290976,10.846545,7.312247,5.660943,6.190000,9.424235,11.075688,11.567166
1900,MB-7296,4,42.88,44.733333,DECEASED,Died of Disease,NO,YES,20.0,NaN,...,5,6.0,9.733986,13.753037,5.616082,6.271912,5.999093,9.530390,11.532033,11.626140
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,NaN,...,1,4.0,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360

For categorical variables e.g. `Vital_status` or `Cohort`, it may be useful to count how many occurrences there is for each category:

In [120]:
metabric['Vital_status'].unique()

array(['Living', 'Died of Disease', 'Died of Other Causes', nan],
      dtype=object)

In [ ]:
metabric['Vital_status'].value_counts()

To filter by more than one category, use the `.isin()` method.

In [123]:
metabric[metabric.Vital_status.isin(['Died of Disease', 'Died of Other Causes'])].shape

(1102, 32)

In cancer studies, a cohort is a group of individuals who share one or more characteristics, such as having been diagnosed with a specific type of cancer or having a particular risk factor for cancer. A cohort study in cancer research typically involves following a group of individuals with similar characteristics over time to determine the incidence of cancer or other outcomes of interest.

A cancer cohort study may involve collecting data on the exposure of the cohort members to various risk factors, such as smoking, environmental toxins, or genetic predisposition to cancer. The cohort members are then followed up over time to determine the incidence of cancer and other health outcomes. The study may also involve comparing the incidence of cancer in the cohort with that in a control group of individuals who do not share the same characteristics as the cohort, such as not having the same risk factors for cancer.

One type of cohort study that is often used in cancer research is a prospective cohort study, in which data on the exposure to risk factors and the occurrence of cancer are collected over time. This type of study can provide valuable information on the temporal relationship between risk factors and cancer outcomes. Another type of cohort study is a retrospective cohort study, in which data on risk factors and cancer outcomes are collected retrospectively from existing records.

Cancer cohort studies are important in identifying risk factors for cancer and in understanding the natural history and prognosis of different types of cancer. They can also provide valuable information for developing and evaluating cancer prevention and treatment strategies.

Here are a few examples of AstraZeneca's cancer drugs:

Tagrisso (osimertinib): This is a targeted therapy drug used to treat non-small cell lung cancer (NSCLC) that has a specific mutation in the EGFR gene. It works by inhibiting the growth and spread of cancer cells.

Lynparza (olaparib): This is a PARP inhibitor used to treat several types of cancer, including ovarian, breast, and pancreatic cancer. It works by preventing cancer cells from repairing damaged DNA, leading to their death.

Imfinzi (durvalumab): This is an immunotherapy drug used to treat several types of cancer, including lung cancer and bladder cancer. It works by helping the body's immune system to recognize and attack cancer cells.

Calquence (acalabrutinib): This is a targeted therapy drug used to treat mantle cell lymphoma, a type of blood cancer. It works by blocking a specific protein that is necessary for the growth and survival of cancer cells.

Faslodex (fulvestrant): This is a hormone therapy drug used to treat hormone receptor-positive breast cancer. It works by blocking the effects of estrogen on cancer cells, which slows or stops their growth.

A targeted drug is a type of medication that is designed to specifically target and interact with a particular molecule or pathway that is involved in the development or progression of a disease. These drugs are often used in the treatment of cancer, but they can also be used in the treatment of other diseases such as autoimmune disorders, viral infections, and genetic disorders.

In cancer treatment, targeted drugs work by blocking the growth and spread of cancer cells. Unlike traditional chemotherapy, which affects all rapidly dividing cells in the body, targeted drugs are designed to specifically target cancer cells while minimizing damage to healthy cells. Targeted drugs can be used alone or in combination with other treatments, such as chemotherapy or radiation therapy.

There are several types of targeted drugs, including monoclonal antibodies, small molecule inhibitors, and immunotherapies. Monoclonal antibodies are proteins that are designed to bind to specific molecules on the surface of cancer cells, triggering an immune response to attack and destroy the cancer cells. Small molecule inhibitors are drugs that are designed to interact with specific enzymes or proteins inside the cancer cell, preventing it from dividing and growing. Immunotherapies are drugs that stimulate the immune system to recognize and attack cancer cells.

Targeted drugs have revolutionized cancer treatment and have provided new options for patients who previously had limited treatment options. However, like all medications, targeted drugs can have side effects, and not all patients will respond to them. It is important to work closely with a healthcare provider to determine if a targeted drug is an appropriate treatment option and to monitor for potential side effects.

In [124]:
metabric['Cohort'].value_counts()

3    734
1    481
2    286
4    236
5    167
Name: Cohort, dtype: int64

!!! To tabulate two categorical variables just like `table` in R, use the function `.crosstab()`:

In [125]:
pd.crosstab(metabric['Vital_status'], metabric['Cohort'])

Cohort                  1    2    3    4   5
Vital_status
Died of Disease       134   96  283   63  46
Died of Other Causes   75   52  228   59  66
Living                272  138  222  114  55

### Define new columns

To obtain the age of the patient today `Age_today` (new column) based on the `Age_at_diagnosis` (years) and the `Survival_time` (days), you can do the following:

In [126]:
metabric['Age_today'] = metabric['Age_at_diagnosis'] + metabric['Survival_time']/365
metabric

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,MB-7295,4,43.10,196.866667,LIVING,Living,NO,YES,25.0,NaN,...,4.0,9.591235,9.935179,7.984515,6.753291,6.279207,9.207323,11.281194,11.337601,43.639361
1900,MB-7296,4,42.88,44.733333,DECEASED,Died of Disease,NO,YES,20.0,NaN,...,6.0,9.733986,13.753037,5.616082,6.271912,5.999093,9.530390,11.532033,11.626140,43.002557
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,NaN,...,4.0,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360,63.382100
1902,MB-7298,4,61.16,86.233333,DECEASED,Died of Other Causes,NO,NO,25.0,NaN,...,15.0,11.055114,9.892589,8.282737,6.466712,6.287254,10.365901,11.371176,12.827069,61.396256
1903,MB-7299,4,60.02,201.900000,DECEASED,Died of Other Causes,NO,YES,20.0,NaN,...,3.0,10.696475,10.227787,5.533486,6.180511,6.208784,9.749368,10.867527,9.847856,60.573151

### Sort data

To sort the entire DataFrame according to one of the columns, we can use the `.sort_values()` method. We can store the sorted DataFrame using a new variable name such as `metabric_sorted`:

In [127]:
metabric_sorted = metabric.sort_values('Tumour_size')
metabric_sorted

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
1178,MB-5154,3,31.87,170.833333,LIVING,Living,NO,NO,1.0,1.0,...,2.0,6.390271,14.150505,5.374285,6.166627,5.730209,7.682715,10.980236,11.920582,32.338037
939,MB-4714,3,64.68,83.666667,DECEASED,Died of Other Causes,YES,YES,1.0,2.0,...,7.0,5.756730,11.451638,5.218476,6.951965,6.113398,7.928369,5.675331,7.096104,64.909224
1489,MB-5640,3,58.00,172.300000,LIVING,Living,NO,NO,1.0,1.0,...,5.0,11.471468,10.710609,6.767783,5.857385,5.779344,10.733006,12.006139,12.380562,58.472055
867,MB-4548,3,50.42,322.833333,LIVING,Living,YES,YES,1.0,2.0,...,2.0,5.703593,13.999965,5.270841,6.500610,6.011818,7.070812,8.922047,10.536358,51.304475
1343,MB-5407,3,36.03,205.600000,LIVING,Living,NO,YES,1.0,1.0,...,9.0,10.877464,11.983508,7.275882,6.079454,5.890194,11.062042,11.983090,12.856245,36.593288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,MB-6141,5,79.84,78.866667,DECEASED,Died of Other Causes,NO,NO,NaN,NaN,...,1.0,11.155460,10.711909,5.362010,5.913182,5.827326,11.645141,11.964034,13.320232,80.056073
1580,MB-6160,5,46.23,247.366667,LIVING,Living,YES,NO,NaN,NaN,...,4.0,5.887579,13.896580,5.494239,6.122002,5.795817,8.259371,11.106729,10.908745,46.907717
1609,MB-6217,5,47.51,211.533333,DECEASED,Died of Other Causes,YES,NO,NaN,NaN,...,6.0,10.312296,11.494632,6.158972,6.177842,5.655659,10.679476,11.568274,12.442291,48.089543
1620,MB-6234,5,66.35,213.366667,LIVING,Living,NO,NO,NaN,NaN,...,4.0,10.801931,10.695930,6.603785,5.957729,5.790894,10.569577,11.251508,11.758685,66.934566
1635,MB-6272,5,36.93,22.400000,DECEASED,Died of Disease,YES,YES,NaN,NaN,...,6.0,5.741627,10.298811,5.291367,5.701960,5.747574,6.121951,5.984301,6.368798,36.991370

In [130]:
metabric_sorted.iloc[0]

Patient_ID                                                MB-5154
Cohort                                                          3
Age_at_diagnosis                                            31.87
Survival_time                                          170.833333
Survival_status                                            LIVING
Vital_status                                               Living
Chemotherapy                                                   NO
Radiotherapy                                                   NO
Tumour_size                                                   1.0
Tumour_stage                                                  1.0
Neoplasm_histologic_grade                                     3.0
Lymph_nodes_examined_positive                                   0
Lymph_node_status                                               1
Cancer_type                      Breast Invasive Ductal Carcinoma
ER_status                                                Negative
PR_status                                                Negative
HER2_status                                              Positive
HER2_status_measured_by_SNP6                                 GAIN
PAM50                                                      Normal
3-gene_classifier                                       ER-/HER2-
Nottingham_prognostic_index                                 4.002
Cellularity                                                   Low
Integrative_cluster                                             3
Mutation_count                                                2.0
ESR1                                                     6.390271
ERBB2                                                   14.150505
PGR                                                      5.374285
TP53                                                     6.166627
PIK3CA                                                   5.730209
GATA3                                                    7.682715
FOXA1                                                   10.980236
MLPH                                                    11.920582
Age_today                                               32.338037
Name: 1178, dtype: object

In [138]:
metabric_sorted.loc[0]

Patient_ID                                                MB-0000
Cohort                                                          1
Age_at_diagnosis                                            75.65
Survival_time                                               140.5
Survival_status                                            LIVING
Vital_status                                               Living
Chemotherapy                                                   NO
Radiotherapy                                                  YES
Tumour_size                                                  22.0
Tumour_stage                                                  2.0
Neoplasm_histologic_grade                                     3.0
Lymph_nodes_examined_positive                                  10
Lymph_node_status                                               3
Cancer_type                      Breast Invasive Ductal Carcinoma
ER_status                                                Positive
PR_status                                                Negative
HER2_status                                              Negative
HER2_status_measured_by_SNP6                              NEUTRAL
PAM50                                                 claudin-low
3-gene_classifier                                       ER-/HER2-
Nottingham_prognostic_index                                 6.044
Cellularity                                                   NaN
Integrative_cluster                                          4ER+
Mutation_count                                                NaN
ESR1                                                     8.929817
ERBB2                                                    9.333972
PGR                                                      5.680501
TP53                                                     6.338739
PIK3CA                                                   5.704157
GATA3                                                    6.932146
FOXA1                                                    7.953794
MLPH                                                     9.729728
Age_today                                               76.034932
Name: 0, dtype: object

We can also sort the DataFrame in descending order:

In [139]:
metabric_sorted = metabric.sort_values('Tumour_size', ascending=False)
metabric_sorted

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
1812,MB-7165,4,28.78,147.166667,LIVING,Living,YES,YES,182.0,NaN,...,7.0,5.426713,9.507019,5.229264,7.921411,6.407379,7.674084,7.179491,9.213541,29.183196
266,MB-0406,1,69.32,96.900000,DECEASED,Died of Disease,YES,YES,180.0,3.0,...,5.0,10.295546,10.515396,5.867643,6.085246,5.780428,10.889048,11.546029,12.883059,69.585479
460,MB-0660,1,52.43,18.933333,DECEASED,Died of Disease,YES,YES,160.0,1.0,...,5.0,6.806700,10.392012,5.534153,6.319585,5.647157,9.137186,11.317307,10.730205,52.481872
38,MB-0112,1,83.89,39.166667,DECEASED,Died of Disease,NO,YES,150.0,3.0,...,8.0,9.185200,9.580607,5.480888,6.068563,5.513442,10.334501,11.513395,12.185778,83.997306
710,MB-3436,2,38.20,50.766667,DECEASED,Died of Disease,YES,YES,130.0,3.0,...,4.0,10.227027,9.888552,8.437960,6.322436,6.534325,9.243268,12.050932,12.602092,38.339087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,MB-6141,5,79.84,78.866667,DECEASED,Died of Other Causes,NO,NO,NaN,NaN,...,1.0,11.155460,10.711909,5.362010,5.913182,5.827326,11.645141,11.964034,13.320232,80.056073
1580,MB-6160,5,46.23,247.366667,LIVING,Living,YES,NO,NaN,NaN,...,4.0,5.887579,13.896580,5.494239,6.122002,5.795817,8.259371,11.106729,10.908745,46.907717
1609,MB-6217,5,47.51,211.533333,DECEASED,Died of Other Causes,YES,NO,NaN,NaN,...,6.0,10.312296,11.494632,6.158972,6.177842,5.655659,10.679476,11.568274,12.442291,48.089543
1620,MB-6234,5,66.35,213.366667,LIVING,Living,NO,NO,NaN,NaN,...,4.0,10.801931,10.695930,6.603785,5.957729,5.790894,10.569577,11.251508,11.758685,66.934566
1635,MB-6272,5,36.93,22.400000,DECEASED,Died of Disease,YES,YES,NaN,NaN,...,6.0,5.741627,10.298811,5.291367,5.701960,5.747574,6.121951,5.984301,6.368798,36.991370

In [140]:
metabric_sorted = metabric.sort_values(['Vital_status', 'Survival_time'], ascending=False)
metabric_sorted

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
162,MB-0270,1,29.98,337.033333,LIVING,Living,NO,NO,14.0,2.0,...,4.0,9.479665,10.501780,7.107530,6.751937,5.651887,10.356786,11.741155,13.355532,30.903379
800,MB-4212,3,45.50,330.366667,LIVING,Living,NO,NO,20.0,NaN,...,3.0,10.154028,11.467932,5.980680,5.919071,5.681674,10.754440,11.061431,12.247783,46.405114
867,MB-4548,3,50.42,322.833333,LIVING,Living,YES,YES,1.0,2.0,...,2.0,5.703593,13.999965,5.270841,6.500610,6.011818,7.070812,8.922047,10.536358,51.304475
887,MB-4633,3,67.03,318.200000,LIVING,Living,NO,YES,25.0,2.0,...,4.0,12.123997,10.905394,6.040201,6.156927,5.883557,10.893811,12.253936,11.907104,67.901781
836,MB-4332,3,34.36,307.933333,LIVING,Living,NO,YES,20.0,1.0,...,4.0,6.205533,9.938709,5.256915,6.522367,6.900539,6.946479,5.755635,6.890103,35.203653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,MB-2954,2,69.79,5.500000,DECEASED,Died of Disease,NO,YES,30.0,2.0,...,10.0,11.343932,9.664124,6.208214,6.480981,5.795281,10.170772,12.044866,12.791215,69.805068
195,MB-0314,1,73.48,4.433333,DECEASED,Died of Disease,NO,NO,50.0,2.0,...,4.0,5.731712,14.241259,5.090306,5.634557,6.185478,8.418385,11.579957,11.602972,73.492146
1741,MB-7078,4,74.80,4.166667,DECEASED,Died of Disease,NO,YES,50.0,NaN,...,6.0,5.457747,6.372949,5.311108,6.727605,6.346358,5.782171,5.361043,9.229021,74.811416
1616,MB-6229,5,75.33,0.100000,DECEASED,Died of Disease,NO,NO,15.0,1.0,...,5.0,10.806708,10.672935,6.470783,6.250969,5.710960,11.252652,11.819178,12.393143,75.330274
1166,MB-5130,3,58.61,255.000000,DECEASED,NaN,NO,YES,15.0,1.0,...,13.0,12.229652,9.444466,5.972606,6.470794,6.109982,9.813096,11.949598,12.288076,59.308630

### Missing data

Pandas primarily uses `NaN` to represent missing data, which are by default not included in computations.

The `.info()` method shown above already gave us a way to find columns containing missing data:

In [145]:
metabric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 33 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Patient_ID                     1904 non-null   object
 1   Cohort                         1904 non-null   int64
 2   Age_at_diagnosis               1904 non-null   float64
 3   Survival_time                  1904 non-null   float64
 4   Survival_status                1904 non-null   object
 5   Vital_status                   1903 non-null   object
 6   Chemotherapy                   1904 non-null   object
 7   Radiotherapy                   1904 non-null   object
 8   Tumour_size                    1884 non-null   float64
 9   Tumour_stage                   1403 non-null   float64
 10  Neoplasm_histologic_grade      1832 non-null   float64
 11  Lymph_nodes_examined_positive  1904 non-null   int64
 12  Lymph_node_status              1904 non-null   int64
 13  Cancer_type                    1889 non-null   object
 14  ER_status                      1904 non-null   object
 15  PR_status                      1904 non-null   object
 16  HER2_status                    1904 non-null   object
 17  HER2_status_measured_by_SNP6   1904 non-null   object
 18  PAM50                          1904 non-null   object
 19  3-gene_classifier              1700 non-null   object
 20  Nottingham_prognostic_index    1904 non-null   float64
 21  Cellularity                    1850 non-null   object
 22  Integrative_cluster            1904 non-null   object
 23  Mutation_count                 1859 non-null   float64
 24  ESR1                           1904 non-null   float64
 25  ERBB2                          1904 non-null   float64
 26  PGR                            1904 non-null   float64
 27  TP53                           1904 non-null   float64
 28  PIK3CA                         1904 non-null   float64
 29  GATA3                          1904 non-null   float64
 30  FOXA1                          1904 non-null   float64
 31  MLPH                           1904 non-null   float64
 32  Age_today                      1904 non-null   float64
dtypes: float64(16), int64(3), object(14)
memory usage: 491.0+ KB

To get the locations where values are missing:

In [148]:
pd.isna(metabric)

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1900,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1901,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1902,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1903,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [149]:
metabric.isnull()

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1900,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1901,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1902,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1903,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

To drop any rows containing at least one column with missing data:

In [150]:
metabric.dropna()

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
5,MB-0010,1,78.77,7.800000,DECEASED,Died of Disease,NO,YES,31.0,4.0,...,4.0,11.239750,9.739996,5.954311,5.419711,6.123056,9.787085,12.142178,11.433164,78.791370
8,MB-0028,1,86.41,36.566667,DECEASED,Died of Other Causes,NO,YES,16.0,2.0,...,4.0,12.521038,10.678267,5.325554,6.220372,6.250678,10.260059,12.148375,10.936002,86.510183
9,MB-0035,1,84.22,36.266667,DECEASED,Died of Disease,NO,NO,28.0,2.0,...,5.0,7.536847,11.514514,5.587666,6.411477,5.988243,10.212610,12.804542,13.474571,84.319361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1618,MB-6232,5,71.22,85.000000,DECEASED,Died of Other Causes,NO,NO,30.0,2.0,...,11.0,11.538680,10.447805,6.507826,6.304797,5.506552,10.780191,11.916438,12.391002,71.452877
1619,MB-6233,5,70.65,201.166667,LIVING,Living,NO,YES,20.0,1.0,...,9.0,12.076626,9.987536,7.324950,6.268109,5.539961,9.639720,11.565130,12.191141,71.201142
1621,MB-6237,5,75.62,105.200000,DECEASED,Died of Other Causes,NO,NO,20.0,1.0,...,4.0,5.538551,10.381719,5.470697,6.440667,5.752296,5.832035,5.908382,6.297938,75.908219
1623,MB-6239,5,52.84,200.333333,LIVING,Living,YES,YES,20.0,2.0,...,5.0,10.455083,9.686122,8.149034,6.494910,5.671279,10.601751,11.310479,12.760481,53.388858
1664,MB-6346,5,63.20,281.500000,LIVING,Living,NO,YES,22.0,2.0,...,3.0,11.717617,10.623396,5.815838,5.949808,5.934635,10.425506,11.772506,12.722197,63.971233

However, from the other way around, to rather remove columns with at least one row with missing data, you need to use the 'axis' argument:

In [151]:
metabric.dropna(axis=1)

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Chemotherapy,Radiotherapy,Lymph_nodes_examined_positive,Lymph_node_status,ER_status,...,Integrative_cluster,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,NO,YES,10,3,Positive,...,4ER+,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,NO,YES,0,1,Positive,...,4ER+,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,YES,NO,1,2,Positive,...,3,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,YES,YES,3,2,Positive,...,9,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,YES,YES,8,3,Positive,...,9,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,MB-7295,4,43.10,196.866667,LIVING,NO,YES,1,2,Positive,...,3,9.591235,9.935179,7.984515,6.753291,6.279207,9.207323,11.281194,11.337601,43.639361
1900,MB-7296,4,42.88,44.733333,DECEASED,NO,YES,1,2,Positive,...,5,9.733986,13.753037,5.616082,6.271912,5.999093,9.530390,11.532033,11.626140,43.002557
1901,MB-7297,4,62.90,175.966667,DECEASED,NO,YES,45,3,Positive,...,1,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360,63.382100
1902,MB-7298,4,61.16,86.233333,DECEASED,NO,NO,12,3,Positive,...,1,11.055114,9.892589,8.282737,6.466712,6.287254,10.365901,11.371176,12.827069,61.396256
1903,MB-7299,4,60.02,201.900000,DECEASED,NO,YES,1,2,Positive,...,10,10.696475,10.227787,5.533486,6.180511,6.208784,9.749368,10.867527,9.847856,60.573151

Define in which columns to look for missing values before dropping the row:

In [152]:
metabric.dropna(subset = ["Tumour_size"])

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,MB-7295,4,43.10,196.866667,LIVING,Living,NO,YES,25.0,NaN,...,4.0,9.591235,9.935179,7.984515,6.753291,6.279207,9.207323,11.281194,11.337601,43.639361
1900,MB-7296,4,42.88,44.733333,DECEASED,Died of Disease,NO,YES,20.0,NaN,...,6.0,9.733986,13.753037,5.616082,6.271912,5.999093,9.530390,11.532033,11.626140,43.002557
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,NaN,...,4.0,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360,63.382100
1902,MB-7298,4,61.16,86.233333,DECEASED,Died of Other Causes,NO,NO,25.0,NaN,...,15.0,11.055114,9.892589,8.282737,6.466712,6.287254,10.365901,11.371176,12.827069,61.396256
1903,MB-7299,4,60.02,201.900000,DECEASED,Died of Other Causes,NO,YES,20.0,NaN,...,3.0,10.696475,10.227787,5.533486,6.180511,6.208784,9.749368,10.867527,9.847856,60.573151

In [153]:
metabric.dropna(subset = ["Tumour_size", "Tumour_stage"])

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1619,MB-6233,5,70.65,201.166667,LIVING,Living,NO,YES,20.0,1.0,...,9.0,12.076626,9.987536,7.324950,6.268109,5.539961,9.639720,11.565130,12.191141,71.201142
1621,MB-6237,5,75.62,105.200000,DECEASED,Died of Other Causes,NO,NO,20.0,1.0,...,4.0,5.538551,10.381719,5.470697,6.440667,5.752296,5.832035,5.908382,6.297938,75.908219
1623,MB-6239,5,52.84,200.333333,LIVING,Living,YES,YES,20.0,2.0,...,5.0,10.455083,9.686122,8.149034,6.494910,5.671279,10.601751,11.310479,12.760481,53.388858
1628,MB-6251,5,48.59,14.700000,DECEASED,Died of Disease,YES,YES,30.0,2.0,...,6.0,5.621742,10.212125,5.425290,5.594586,5.598071,6.633440,5.743388,8.031706,48.630274
1664,MB-6346,5,63.20,281.500000,LIVING,Living,NO,YES,22.0,2.0,...,3.0,11.717617,10.623396,5.815838,5.949808,5.934635,10.425506,11.772506,12.722197,63.971233

Filling missing data:

In [154]:
metabric.fillna(value=0)

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,0.0,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,MB-7295,4,43.10,196.866667,LIVING,Living,NO,YES,25.0,0.0,...,4.0,9.591235,9.935179,7.984515,6.753291,6.279207,9.207323,11.281194,11.337601,43.639361
1900,MB-7296,4,42.88,44.733333,DECEASED,Died of Disease,NO,YES,20.0,0.0,...,6.0,9.733986,13.753037,5.616082,6.271912,5.999093,9.530390,11.532033,11.626140,43.002557
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,0.0,...,4.0,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360,63.382100
1902,MB-7298,4,61.16,86.233333,DECEASED,Died of Other Causes,NO,NO,25.0,0.0,...,15.0,11.055114,9.892589,8.282737,6.466712,6.287254,10.365901,11.371176,12.827069,61.396256
1903,MB-7299,4,60.02,201.900000,DECEASED,Died of Other Causes,NO,YES,20.0,0.0,...,3.0,10.696475,10.227787,5.533486,6.180511,6.208784,9.749368,10.867527,9.847856,60.573151

In [155]:
metabric.fillna(value={'Tumour_size':0, 'Tumour_stage':5})

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,MB-7295,4,43.10,196.866667,LIVING,Living,NO,YES,25.0,5.0,...,4.0,9.591235,9.935179,7.984515,6.753291,6.279207,9.207323,11.281194,11.337601,43.639361
1900,MB-7296,4,42.88,44.733333,DECEASED,Died of Disease,NO,YES,20.0,5.0,...,6.0,9.733986,13.753037,5.616082,6.271912,5.999093,9.530390,11.532033,11.626140,43.002557
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,5.0,...,4.0,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360,63.382100
1902,MB-7298,4,61.16,86.233333,DECEASED,Died of Other Causes,NO,NO,25.0,5.0,...,15.0,11.055114,9.892589,8.282737,6.466712,6.287254,10.365901,11.371176,12.827069,61.396256
1903,MB-7299,4,60.02,201.900000,DECEASED,Died of Other Causes,NO,YES,20.0,5.0,...,3.0,10.696475,10.227787,5.533486,6.180511,6.208784,9.749368,10.867527,9.847856,60.573151

### Grouping

Grouping patients by Cohort and then applying the `.mean()` function to the resulting groups:

In [156]:
metabric.groupby('Cohort')

In [157]:
metabric.groupby('Cohort').mean()

/tmp/ipykernel_60881/4108108816.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  metabric.groupby('Cohort').mean()

,Age_at_diagnosis,Survival_time,Tumour_size,Tumour_stage,Neoplasm_histologic_grade,Lymph_nodes_examined_positive,Lymph_node_status,Nottingham_prognostic_index,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
Cohort,,,,,,,,,,,,,,,,,,
1,62.195509,93.709148,27.686192,1.880952,2.423983,2.750520,1.762994,4.188083,3.698630,9.370269,10.492413,6.293862,6.221005,5.910626,9.444611,10.748237,11.192056,62.452247
2,54.571923,166.243823,21.942308,1.527972,2.392226,1.153846,1.527972,3.938990,5.831579,9.343602,10.710782,6.296066,6.041412,6.100750,9.278292,10.604204,11.108363,55.027386
3,62.179809,134.471117,26.455296,1.758347,2.483309,1.587193,1.561308,3.973387,6.533424,9.825575,10.925762,6.184818,6.222656,5.987118,9.597196,10.869807,11.562388,62.548223
4,61.065297,106.164972,26.208729,NaN,2.365639,2.622881,1.766949,4.107502,6.016949,9.558758,10.792609,6.239498,6.305988,5.930729,9.439915,10.829622,11.232689,61.356160
5,64.279940,130.864870,28.700637,1.692308,2.222892,2.245509,1.640719,3.904263,6.592814,9.856814,10.901521,6.200203,6.138554,5.898458,9.730121,10.941719,11.592222,64.638474

Grouping by multiple columns forms a hierarchical index, and again we can apply the `.mean()` function:

In [158]:
metabric.groupby(['Cohort', 'Vital_status']).mean()

/tmp/ipykernel_60881/491611549.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  metabric.groupby(['Cohort', 'Vital_status']).mean()

                             Age_at_diagnosis  Survival_time  Tumour_size  \
Cohort Vital_status
1      Died of Disease              64.168955      61.934577    34.406015
       Died of Other Causes         76.430533      86.156000    29.200000
       Living                       57.298199     111.445466    23.955556
2      Died of Disease              52.566979      85.793750    25.583333
       Died of Other Causes         60.884808     165.276282    21.192308
       Living                       53.587899     222.573671    19.692029
3      Died of Disease              61.211413      85.688810    28.768683
       Died of Other Causes         69.564518     142.948977    26.366071
       Living                       55.846081     187.407658    23.656109
4      Died of Disease              59.742698      55.838624    31.039206
       Died of Other Causes         67.252712     123.971751    25.446102
       Living                       58.593947     124.761111    23.933947
5      Died of Disease              62.589130      81.109420    34.454545
       Died of Other Causes         71.003636     108.764646    26.064516
       Living                       57.625636     198.998788    26.941176

                             Tumour_stage  Neoplasm_histologic_grade  \
Cohort Vital_status
1      Died of Disease           2.125984                   2.656716
       Died of Other Causes      1.930556                   2.471429
       Living                    1.749049                   2.292776
2      Died of Disease           1.708333                   2.625000
       Died of Other Causes      1.384615                   2.120000
       Living                    1.456522                   2.328467
3      Died of Disease           1.940928                   2.537037
       Died of Other Causes      1.750000                   2.370732
       Living                    1.552764                   2.521127
4      Died of Disease                NaN                   2.557377
       Died of Other Causes           NaN                   2.381818
       Living                         NaN                   2.252252
5      Died of Disease           2.111111                   2.422222
       Died of Other Causes      1.333333                   2.090909
       Living                    1.545455                   2.218182

                             Lymph_nodes_examined_positive  Lymph_node_status  \
Cohort Vital_status
1      Died of Disease                            4.895522           2.104478
       Died of Other Causes                       2.880000           1.786667
       Living                                     1.658088           1.588235
2      Died of Disease                            1.989583           1.697917
       Died of Other Causes                       0.673077           1.423077
       Living                                     0.753623           1.449275
3      Died of Disease                            2.600707           1.819788
       Died of Other Causes                       1.114035           1.456140
       Living                                     0.788288           1.342342
4      Died of Disease                            5.666667           2.142857
       Died of Other Causes                       1.644068           1.627119
       Living                                     1.447368           1.631579
5      Died of Disease                            4.173913           1.978261
       Died of Other Causes                       1.590909           1.530303
       Living                                     1.418182           1.490909

                             Nottingham_prognostic_index  Mutation_count  \
Cohort Vital_status
1      Died of Disease                          4.836955        4.040000
       Died of Other Causes                     4.191733        4.391304
       Living                                   3.867412        3.327869
2      Died of Disease                          4.374083        6.135417
       Died of Other Causes                     3.503923        5.423077
       Living                                   3.800254        5.773723
3      Died of Disease                          4.304481        6.367491
       Died of Other Causes                     3.683386        7.078947
       Living                                   3.848901        6.153846
4      Died of Disease                          4.681126        5.444444
       Died of Other Causes                     3.898350        5.322034
       Living                                   3.898745        6.692982
5      Died of Disease                          4.413739        6.108696
       Died of Other Causes                     3.670182        6.696970
       Living                                   3.759055        6.872727

                                  ESR1      ERBB2       PGR      TP53  \
Cohort Vital_status
1      Died of Disease        9.035280  10.626528  6.099745  6.214155
       Died of Other Causes   9.844681  10.501563  6.181097  6.237656
       Living                 9.404489  10.423818  6.420587  6.219789
2      Died of Disease        8.736467  11.005906  6.075877  6.040538
       Died of Other Causes  10.155437  10.609174  6.442493  6.022397
       Living                 9.460049  10.543766  6.394066  6.049185
3      Died of Disease        9.591806  11.031071  6.048882  6.192189
       Died of Other Causes  10.626935  10.838174  6.366570  6.190774
       Living                 9.289729  10.888145  6.172399  6.293119
4      Died of Disease        8.821417  11.130202  5.746332  6.223470
       Died of Other Causes  10.401937  10.490623  6.569257  6.347453
       Living                 9.529854  10.762334  6.341373  6.330129
5      Died of Disease        9.421533  11.039211  5.909526  6.079759
       Died of Other Causes  10.679260  10.798920  6.481828  6.124396
       Living                 9.233933  10.909484  6.105365  6.204718

                               PIK3CA      GATA3      FOXA1       MLPH  \
Cohort Vital_status
1      Died of Disease       5.911809   9.264238  10.691645  11.074350
       Died of Other Causes  5.870950   9.436896  10.804924  11.118236
       Living                5.920984   9.535598  10.760486  11.270398
2      Died of Disease       6.102341   8.846023  10.507613  10.807395
       Died of Other Causes  6.081411   9.584574  10.898595  11.461898
       Living                6.106932   9.463590  10.560467  11.184515
3      Died of Disease       5.997541   9.437673  10.830457  11.500846
       Died of Other Causes  5.972263   9.994187  11.260757  11.986929
       Living                5.988534   9.391860  10.513590  11.201556
4      Died of Disease       5.947376   8.918270  10.522634  11.012177
       Died of Other Causes  5.947447   9.870251  11.188777  11.434030
       Living                5.912878   9.505475  10.813396  11.250348
5      Died of Disease       5.901734   9.590724  10.640291  11.497706
       Died of Other Causes  5.911067  10.116186  11.412094  12.031010
       Living                5.880588   9.383430  10.629373  11.144725

                             Age_today
Cohort Vital_status
1      Died of Disease       64.338639
       Died of Other Causes  76.666577
       Living                57.603529
2      Died of Disease       52.802031
       Died of Other Causes  61.337619
       Living                54.197689
3      Died of Disease       61.446177
       Died of Other Causes  69.956159
       Living                56.359527
4      Died of Disease       59.895681
       Died of Other Causes  67.592360
       Living                58.935759
5      Died of Disease       62.811348
       Died of Other Causes  71.301622
       Living                58.170839

### Pivoting

In some cases, you may want to re-structure your existing DataFrame. The function `.pivot_table()` is useful for this:

In [159]:
import numpy as np
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3, 'B': ['A', 'B', 'C'] * 4, 'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2, 'D': np.random.randn(12), 'E': np.random.randn(12)})
df

        A  B    C         D         E
0     one  A  foo -0.227742 -1.173129
1     one  B  foo -0.875516 -0.657769
2     two  C  foo -0.325530  1.027575
3   three  A  bar  0.955408  0.168377
4     one  B  bar  0.823826 -0.047100
5     one  C  bar  1.726255  2.389131
6     two  A  foo -1.204221 -2.023186
7   three  B  foo  0.063682  1.127182
8     one  C  foo  0.438935  0.067376
9     one  A  bar -0.324086  0.013523
10    two  B  bar -0.535644 -1.126355
11  three  C  bar  1.804133 -0.071347

In [161]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A -0.324086 -0.227742
      B  0.823826 -0.875516
      C  1.726255  0.438935
three A  0.955408       NaN
      B       NaN  0.063682
      C  1.804133       NaN
two   A       NaN -1.204221
      B -0.535644       NaN
      C       NaN -0.325530

### Merge datasets

You can concatenate DataFrames using the function `concat()`:

In [162]:
metabric_cohort1 = metabric[metabric["Cohort"]==1]
metabric_cohort1

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,MB-0897,1,41.32,30.966667,DECEASED,Died of Other Causes,NO,NO,46.0,2.0,...,28.0,10.641978,11.038152,5.810549,6.167886,5.918056,10.396135,11.660028,12.524152,41.404840
477,MB-0899,1,50.62,175.800000,LIVING,Living,YES,NO,25.0,2.0,...,4.0,9.639464,10.761024,7.037270,6.428259,5.779865,9.646696,11.489945,12.275300,51.101644
478,MB-0901,1,68.19,136.166667,LIVING,Living,YES,YES,33.0,2.0,...,3.0,6.085429,8.657165,5.182612,5.789087,5.810110,5.337310,5.705477,5.885003,68.563059
479,MB-0904,1,83.01,144.700000,DECEASED,Died of Other Causes,NO,NO,22.0,2.0,...,3.0,10.927686,10.553313,6.324880,6.449904,5.692025,10.273681,11.958177,11.791140,83.406438
480,MB-0906,1,70.60,63.866667,DECEASED,Died of Other Causes,NO,YES,28.0,2.0,...,5.0,6.118519,10.045613,5.324667,6.399765,5.397236,6.644827,9.988827,10.005449,70.774977

In [163]:
metabric_cohort2 = metabric[metabric["Cohort"]==2]
metabric_cohort2

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
481,MB-2513,2,57.96,59.700000,DECEASED,Died of Disease,NO,YES,20.0,1.0,...,3.0,6.269372,13.962320,5.837241,5.754332,5.889427,8.153143,11.456832,12.532395,58.123562
482,MB-2517,2,60.29,268.433333,DECEASED,Died of Other Causes,NO,NO,15.0,1.0,...,7.0,6.793586,14.458082,5.102627,5.817221,6.134414,8.393807,11.054558,11.402550,61.025434
483,MB-2536,2,54.11,47.900000,DECEASED,Died of Other Causes,NO,NO,15.0,1.0,...,6.0,11.276085,10.364427,5.453788,6.007089,6.455744,9.275879,11.510464,11.119956,54.241233
484,MB-2556,2,62.59,220.900000,DECEASED,Died of Other Causes,NO,NO,20.0,2.0,...,1.0,6.328415,9.780145,5.216075,5.959109,6.364106,8.710298,5.656982,7.847413,63.195205
485,MB-2564,2,52.98,285.433333,LIVING,Living,NO,YES,10.0,1.0,...,10.0,9.526317,10.180106,6.088928,5.928113,6.152219,10.499454,12.012290,12.279686,53.762009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762,MB-3865,2,49.37,199.966667,LIVING,Living,NO,YES,15.0,1.0,...,4.0,9.462571,10.428656,5.688956,6.437910,6.063599,9.285587,10.989198,11.570349,49.917854
763,MB-3866,2,54.29,225.500000,LIVING,Living,NO,YES,12.0,1.0,...,9.0,5.795445,14.049729,5.422349,5.793983,6.316555,6.690872,10.664417,11.128749,54.907808
764,MB-3871,2,62.03,172.800000,DECEASED,Died of Other Causes,NO,NO,26.0,2.0,...,6.0,11.411786,9.907645,6.945626,6.230819,6.030919,9.771782,11.365047,12.281178,62.503425
765,MB-3874,2,35.50,186.433333,LIVING,Living,NO,YES,15.0,1.0,...,6.0,9.309848,10.919504,6.361757,6.623462,6.187734,10.784478,11.332579,11.855825,36.010776
766,MB-3978,2,57.91,100.866667,DECEASED,Died of Disease,NO,YES,13.0,1.0,...,9.0,5.595046,14.043885,5.278342,5.581213,6.550116,9.313114,12.117613,11.569767,58.186347

In [164]:
pd.concat([metabric_cohort1,metabric_cohort2])

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762,MB-3865,2,49.37,199.966667,LIVING,Living,NO,YES,15.0,1.0,...,4.0,9.462571,10.428656,5.688956,6.437910,6.063599,9.285587,10.989198,11.570349,49.917854
763,MB-3866,2,54.29,225.500000,LIVING,Living,NO,YES,12.0,1.0,...,9.0,5.795445,14.049729,5.422349,5.793983,6.316555,6.690872,10.664417,11.128749,54.907808
764,MB-3871,2,62.03,172.800000,DECEASED,Died of Other Causes,NO,NO,26.0,2.0,...,6.0,11.411786,9.907645,6.945626,6.230819,6.030919,9.771782,11.365047,12.281178,62.503425
765,MB-3874,2,35.50,186.433333,LIVING,Living,NO,YES,15.0,1.0,...,6.0,9.309848,10.919504,6.361757,6.623462,6.187734,10.784478,11.332579,11.855825,36.010776
766,MB-3978,2,57.91,100.866667,DECEASED,Died of Disease,NO,YES,13.0,1.0,...,9.0,5.595046,14.043885,5.278342,5.581213,6.550116,9.313114,12.117613,11.569767,58.186347

Or join datasets using the function `.merge()`:

In [165]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  foo     2

In [166]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [167]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

A final example:

In [168]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  bar     2

In [169]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  bar     5

In [170]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

## Assignment

1. Write python commands using pandas to learn how to output tables as follows:

    - Read the dataset `metabric_clinical_and_expression_data.csv` and store its summary statistics into a new variable called `metabric_summary`.
    - Just like the `.read_csv()` method allows reading data from a file, `pandas` provides a `.to_csv()` method to write `DataFrames` to files. Write your summary statistics object into a file called `metabric_summary.csv`. You can use `help(metabric.to_csv)` to get information on how to use this function.
    - Use the help information to modify the previous step so that you can generate a Tab Separated Value (TSV) file instead 
    - Similarly, explore the method `to_excel()` to output an excel spreadsheet containing summary statistics


2. Write python commands to perform basic statistics in the metabric dataset and answer the following questions:

    - Read the dataset `metabric_clinical_and_expression_data.csv` into a variable e.g. `metabric`.
    - Calculate mean tumour size of patients grouped by vital status and tumour stage
    - Find the cohort of patients and tumour stage where the average expression of genes TP53 and FOXA1 is the highest
    - Do patients with greater tumour size live longer? How about patients with greater tumour stage? How about greater Nottingham_prognostic_index?


3. Review the section on missing data presented in the lecture. Consulting the [user's guide section dedicated to missing data](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html) and any other materials as necessary use the functionality provided by pandas to answer the following questions:

    - Which variables (columns) of the metabric dataset have missing data?
    - Find the patients ids who have missing tumour size and/or missing mutation count data. Which cohorts do they belong to?
    - For the patients identified to have missing tumour size data for each cohort, calculate the average tumour size of the patients with tumour size data available within the same cohort to fill in the missing data


4. (Bonus) Try out pandas in a dataset of your own work or from literature/resources you have read/used recently and share with a colleague / rest of the class.

In [201]:
df=pd.read_csv('../data/metabric_clinical_and_expression_data.csv')
df=pd.DataFrame(df)
print(df.columns)
# Calculate mean tumour size of patients grouped by vital status and tumour stage
df.groupby(['Vital_status', 'Tumour_stage']).Tumour_size.mean()
# Find the cohort of patients and tumour stage where the average expression of genes TP53 and FOXA1 is the highest
df_sorted= df.sort_values(['TP53', 'FOXA1'], ascending=False)
df_sorted
# Do patients with greater tumour size live longer? How about patients with greater tumour stage? How about greater Nottingham_prognostic_index?
# First, select the columns of interest
cols_of_interest = ['Cohort', 'Tumour_stage', 'TP53', 'FOXA1']

# Then, create a new DataFrame with only those columns
df_subset = df[cols_of_interest]

# Next, group the DataFrame by cohort and tumour stage, and calculate the mean expression of TP53 and FOXA1
df_means = df_subset.groupby(['Cohort', 'Tumour_stage']).mean()

# Finally, find the index values where the mean expression of TP53 and FOXA1 is the highest
max_means = df_means['TP53','FOXA1'].idxmax()

# Print the result
print('Cohort and Tumour Stage with the highest average expression of TP53 and FOXA1:')
print(max_means)

Index(['Patient_ID', 'Cohort', 'Age_at_diagnosis', 'Survival_time',
       'Survival_status', 'Vital_status', 'Chemotherapy', 'Radiotherapy',
       'Tumour_size', 'Tumour_stage', 'Neoplasm_histologic_grade',
       'Lymph_nodes_examined_positive', 'Lymph_node_status', 'Cancer_type',
       'ER_status', 'PR_status', 'HER2_status', 'HER2_status_measured_by_SNP6',
       'PAM50', '3-gene_classifier', 'Nottingham_prognostic_index',
       'Cellularity', 'Integrative_cluster', 'Mutation_count', 'ESR1', 'ERBB2',
       'PGR', 'TP53', 'PIK3CA', 'GATA3', 'FOXA1', 'MLPH'],
      dtype='object')

KeyError: ('TP53', 'FOXA1')

In [ ]:
import pandas as pd 
df=pd.read_csv('../data/metabric_clinical_and_expression_data.csv')
summary=df.describe(include='all')
summary
summary.to_csv('../data/week1_metabric_summary.tsv', sep="\t")
help(df.to_excel)
summary.to_excel("../data/week1_metabric_summary.xlsx")